{% extends "base2.html" %}

{% block cuerpo %}

<div class="row"><!--fila en editar-->
          <div class="col-md-4 offset-md-4">
              <h2>Editar Suplemento</h2>
               <!-- Aqui codigo tarjeta -->
              <div class="card"><!-- tarjeta-->
                      <div class="card-body">
                           <form action="/editarSuplemento/" method="post"> {% csrf_token %}<!-- -->
                               <div class="form-group">
                                 <input type="text" id="txtid" name="txtid" value="{{misupl.id_producto}}" class="form-control" minlenght="1" maxlenght="6" readonly required><br>
                                </div>
                                <div class="form-group py-3">
                                 <input type="text" id="txtnombre" name="txtnombre" value="{{misupl.nombre}}" class="form-control"  minlenght="1" maxlenght="100" required><br>
                                </div>
                                <div class="form-group py-3">
                                    <input type="text" id="txttipo" name="txttipo" value="{{misupl.tipo}}" class="form-control"  minlenght="1" maxlenght="100" required><br>
                                </div>
                                <div class="form-group">
                                 <input type="text" id="txtsabor" name="txtsabor" class="form-control" min="1" max="9"  value="{{misupl.sabor}}" required><br>
                                </div>
                                <div class="form-group py-3">
                                 <input type="text" id="numprecio" name="numprecio" value="{{misupl.precio_uni}}" class="form-control"  min="1" max="9" required><br>
                                </div>
                                <div class="form-group py-3">
                                 <input type="text" id="numpeso" name="numpeso" value="{{misupl.peso}}" class="form-control"  min="1" max="9" required><br>
                                </div>
                                <div class="form-group py-3">
                                 <button type="submit" class="btn btn-dark"> Guardar Suplemento </button><br>
                                </div>
                            </form>
                       </div>
                    </div><!-- tarjeta-->
                <!-- Aqui codigo tarjeta -->
         </div>
</div><!--fila en editar-->

{% endblock %}