{% extends "base2.html" %}
{% load static %}
{% block cuerpo %}

<div class="row"><!--fila en editar-->
          <div class="col-md-4 offset-md-4">
              <h2>Editar Proveedor</h2>
               <!-- Aqui codigo tarjeta -->
              <div class="card"><!-- tarjeta-->
                      <div class="card-body">
                           <form action="/editarProv/" method="post"> {% csrf_token %}<!-- -->
                               <div class="form-group">
                                 <input type="text" id="txtid" name="txtid" value="{{misp.id_provee}}" class="form-control" minlenght="1" maxlenght="6" readonly required><br>
                                </div>
                                <div class="form-group py-3">
                                 <input type="text" id="txtruta" name="txtruta" value="{{misp.num_ruta}}" class="form-control"  minlenght="1" maxlenght="100" required><br>
                                </div>
                                <div class="form-group">
                                 <input type="text" id="txtcant" name="txtcant" value="{{misp.cant_prod}}" class="form-control" min="1" max="9"  required><br>
                                </div>
                                <div class="form-group py-3">
                                 <input type="text" id="txtpeso" name="txtpeso" value="{{misp.peso}}" class="form-control"  min="1" max="9" required><br>
                                </div>
                                <div class="form-group py-3">
                                 <input type="text" id="txtipo" name="txtipo" value="{{misp.tipo_prod}}" class="form-control"  minlenght="1" maxlenght="6" required><br>
                                </div>
                                <div class="form-group py-3">
                                    <input type="text" id="txtdire" name="txtdire" value="{{misp.direccion}}" class="form-control"  min="1" max="9" required><br>
                                </div>
                                <div class="form-group py-3">
                                 <button type="submit" class="btn btn-dark"> Guardar Proveedor </button><br>
                                </div>
                            </form>
                       </div>
                    </div><!-- tarjeta-->
                <!-- Aqui codigo tarjeta -->
         </div>
</div><!--fila en editar-->

{% endblock %}