{% extends "base2.html" %}

{% block cuerpo %}

    <div class="row"> <!-- la filas-->
    <div class="col-sm-12 col-md-4 col-lg-4 xl-4"> <!-- Columna izquierda-->
        <h1> Proveedor  </h1>
        <div class="card"><!-- tarjeta-->
          <div class="card-body">
            <form action="registrarProv/" method="post"> {% csrf_token %}<!-- -->
              <div class="form-group">
                <input type="text" id="txtid" name="txtid" placeholder="ID Proveedor" class="form-control" minlenght="1" maxlenght="6" required><br>
              </div>
              <div class="form-group py-3">
                <input type="text" id="txtruta" name="txtruta" placeholder="Num Ruta" class="form-control"  minlenght="1" maxlenght="100" required><br>
              </div>
              <div class="form-group">
                <input type="text" id="txtcant" name="txtcant" placeholder="Cantidad Producto" class="form-control" min="1" max="9" required><br>
              </div>
              <div class="form-group py-3">
                <input type="text" id="txtpeso" name="txtpeso" placeholder="Peso" class="form-control"  minlenght="1" maxlenght="100" required><br>
              </div>
              <div class="form-group py-3">
                <input type="text" id="txtipo" name="txtipo" placeholder="Tipo Producto" class="form-control"  minlenght="1" maxlenght="100" required><br>
              </div>
              <div class="form-group">
                <input type="text" id="txtdire" name="txtdire" placeholder="Direccion Proveedor" class="form-control" min="1" max="9" required><br>
              </div>
              <div class="form-group py-3">
                <button type="submit" class="btn btn-dark"> Guardar Proveedor </button><br>
              </div>
            </form>
          </div>
        </div><!-- tarjeta-->
    </div><!-- Columna izquierda-->

    <div class="col-sm-12 col-md-8 col-lg-8 xl-8"> <!-- Columna derecha -->
        <h1> Listado De Proveedores </h1>
        <!-- La tabla -->
        <table class="table table-striped">
            <thead>
              <tr class="table">
                <th scope="col">Id_Proveedor </th>
                <th scope="col">Num Ruta </th>
                <th scope="col">Cantidad Producto </th>
                <th scope="col">Peso </th>
                <th scope="col">Tipo Producto</th>
                <th scope="col"> Direccion </th>
                <th> Opciones </th>
              </tr>
            </thead>
            <tbody>
              {% for m in misp %}
              <tr class="table">
                <td>
                  {{m.id_provee}}
                </td>
                <td>
                  {{m.num.ruta}}
                </td>
                <td>
                  {{m.cant_prod}}
                </td>
                <td>
                    {{m.peso}}
                </td>
                <td>
                    {{m.tipo_prod}}
                </td>
                <td>
                  {{m.direccion}}
                </td> 
                <td> <a href="seleccionarProv/{{m.id_provee}}" class="btn btn-info"> Editar </a> </td> <!--Falta-->
                <td> <a href="borrarProv/{{m.id_provee}}" class="btn btn-danger"> Borrar </a> </td> <!--Falta-->
              </tr>
              {% endfor %}
            </tbody>
          </table>
        <!-- La tabla -->
    </div><!-- Columna derecha -->
    </div>
{% endblock %}